.carousel-container {
    position: relative;
  }
  
  .custom-arrow {
 
  background-color: blue;
    color: rgb(241, 236, 236);

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
  }
  
  .custom-prev-arrow {
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .custom-next-arrow {
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
  }