@tailwind base;
@tailwind components;
@tailwind utilities;



/* label*/

.slides{
    overflow: hidden;
  white-space: nowrap;
  }
  
  .slide{
  display: inline-block;
  animation: 35s slide infinite linear;
  }
  .slide span{
  height: 50px;
  }
  .slides:hover .slide{
    animation-play-state: paused;
  }
  @keyframes slide {
    from{
      transform: translateX(0);
    }
  to{
      transform: translateX(-100%);
    }
  }
  

/* header*/
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    transition: transform 1s ease-in 1s;
  
    animation: 2s ease-in .5s SlideIn;
  }
  
  @keyframes SlideIn {
    0% {
      transform: translateY(-100px);
  
      opacity: 0;
    }
    25% {
      transform: translateY(-100px);
  
      opacity: 0.25;
    }
    50% {
      transform: translateY(-100px);
  
      opacity: 0.5;
    }
    75% {
      transform: translateY(-100px);
  
      opacity: 0.75;
    }
  
    100% {
      transform: translateX(0px);
  
      opacity: 1;
    }
  }
  